In [1]:
import pandas as pd

# --- load ---
# update these paths
train_path = "/kaggle/input/home-credit-default-risk/application_train.csv"

In [2]:
train = pd.read_csv(train_path)

In [3]:
train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
train.size

37516342

In [5]:
print("Total columns:", train.shape[1])
print("\nColumn names:\n")
for col in train.columns:
    print(col)

Total columns: 122

Column names:

SK_ID_CURR
TARGET
NAME_CONTRACT_TYPE
CODE_GENDER
FLAG_OWN_CAR
FLAG_OWN_REALTY
CNT_CHILDREN
AMT_INCOME_TOTAL
AMT_CREDIT
AMT_ANNUITY
AMT_GOODS_PRICE
NAME_TYPE_SUITE
NAME_INCOME_TYPE
NAME_EDUCATION_TYPE
NAME_FAMILY_STATUS
NAME_HOUSING_TYPE
REGION_POPULATION_RELATIVE
DAYS_BIRTH
DAYS_EMPLOYED
DAYS_REGISTRATION
DAYS_ID_PUBLISH
OWN_CAR_AGE
FLAG_MOBIL
FLAG_EMP_PHONE
FLAG_WORK_PHONE
FLAG_CONT_MOBILE
FLAG_PHONE
FLAG_EMAIL
OCCUPATION_TYPE
CNT_FAM_MEMBERS
REGION_RATING_CLIENT
REGION_RATING_CLIENT_W_CITY
WEEKDAY_APPR_PROCESS_START
HOUR_APPR_PROCESS_START
REG_REGION_NOT_LIVE_REGION
REG_REGION_NOT_WORK_REGION
LIVE_REGION_NOT_WORK_REGION
REG_CITY_NOT_LIVE_CITY
REG_CITY_NOT_WORK_CITY
LIVE_CITY_NOT_WORK_CITY
ORGANIZATION_TYPE
EXT_SOURCE_1
EXT_SOURCE_2
EXT_SOURCE_3
APARTMENTS_AVG
BASEMENTAREA_AVG
YEARS_BEGINEXPLUATATION_AVG
YEARS_BUILD_AVG
COMMONAREA_AVG
ELEVATORS_AVG
ENTRANCES_AVG
FLOORSMAX_AVG
FLOORSMIN_AVG
LANDAREA_AVG
LIVINGAPARTMENTS_AVG
LIVINGAREA_AVG
NONLIVINGAPARTMENTS_AVG
NONLIVINGAREA_AVG
APARTMENTS_MODE
BASEMENTAREA_MODE
YEARS_BEGINEXPLUATATION_MODE
YEARS_BUILD_MODE
COMMONAREA_MODE
ELEVATORS_MODE
ENTRANCES_MODE
FLOORSMAX_MODE
FLOORSMIN_MODE
LANDAREA_MODE
LIVINGAPARTMENTS_MODE
LIVINGAREA_MODE
NONLIVINGAPARTMENTS_MODE
NONLIVINGAREA_MODE
APARTMENTS_MEDI
BASEMENTAREA_MEDI
YEARS_BEGINEXPLUATATION_MEDI
YEARS_BUILD_MEDI
COMMONAREA_MEDI
ELEVATORS_MEDI
ENTRANCES_MEDI
FLOORSMAX_MEDI
FLOORSMIN_MEDI
LANDAREA_MEDI
LIVINGAPARTMENTS_MEDI
LIVINGAREA_MEDI
NONLIVINGAPARTMENTS_MEDI
NONLIVINGAREA_MEDI
FONDKAPREMONT_MODE
HOUSETYPE_MODE
TOTALAREA_MODE
WALLSMATERIAL_MODE
EMERGENCYSTATE_MODE
OBS_30_CNT_SOCIAL_CIRCLE
DEF_30_CNT_SOCIAL_CIRCLE
OBS_60_CNT_SOCIAL_CIRCLE
DEF_60_CNT_SOCIAL_CIRCLE
DAYS_LAST_PHONE_CHANGE
FLAG_DOCUMENT_2
FLAG_DOCUMENT_3
FLAG_DOCUMENT_4
FLAG_DOCUMENT_5
FLAG_DOCUMENT_6
FLAG_DOCUMENT_7
FLAG_DOCUMENT_8
FLAG_DOCUMENT_9
FLAG_DOCUMENT_10
FLAG_DOCUMENT_11
FLAG_DOCUMENT_12
FLAG_DOCUMENT_13
FLAG_DOCUMENT_14
FLAG_DOCUMENT_15
FLAG_DOCUMENT_16
FLAG_DOCUMENT_17
FLAG_DOCUMENT_18
FLAG_DOCUMENT_19
FLAG_DOCUMENT_20
FLAG_DOCUMENT_21
AMT_REQ_CREDIT_BUREAU_HOUR
AMT_REQ_CREDIT_BUREAU_DAY
AMT_REQ_CREDIT_BUREAU_WEEK
AMT_REQ_CREDIT_BUREAU_MON
AMT_REQ_CREDIT_BUREAU_QRT
AMT_REQ_CREDIT_BUREAU_YEAR

In [6]:
train['TARGET'].value_counts(normalize=True)

TARGET
0    0.919271
1    0.080729
Name: proportion, dtype: float64

In [7]:
print("The target analysis shows that only about 8% of loans defaulted, while the remaining 92% were repaid normally. This means high-risk cases are relatively rare, and most applicants are ultimately safe. Therefore, the business challenge is to identify this small high-risk group at application time without generating excessive false alerts for the majority of low-risk applicants.\nBecause only ~8% of loans default, the business goal is to detect this small high-risk group while avoiding unnecessary alerts on the remaining ~92% of safe applicants.")

The target analysis shows that only about 8% of loans defaulted, while the remaining 92% were repaid normally. This means high-risk cases are relatively rare, and most applicants are ultimately safe. Therefore, the business challenge is to identify this small high-risk group at application time without generating excessive false alerts for the majority of low-risk applicants.
Because only ~8% of loans default, the business goal is to detect this small high-risk group while avoiding unnecessary alerts on the remaining ~92% of safe applicants.

In [8]:
missing_pct = train.isna().mean().sort_values(ascending=False)
missing_pct.head(20)

COMMONAREA_AVG              0.698723
COMMONAREA_MODE             0.698723
COMMONAREA_MEDI             0.698723
NONLIVINGAPARTMENTS_MEDI    0.694330
NONLIVINGAPARTMENTS_MODE    0.694330
NONLIVINGAPARTMENTS_AVG     0.694330
FONDKAPREMONT_MODE          0.683862
LIVINGAPARTMENTS_AVG        0.683550
LIVINGAPARTMENTS_MEDI       0.683550
LIVINGAPARTMENTS_MODE       0.683550
FLOORSMIN_MODE              0.678486
FLOORSMIN_AVG               0.678486
FLOORSMIN_MEDI              0.678486
YEARS_BUILD_AVG             0.664978
YEARS_BUILD_MODE            0.664978
YEARS_BUILD_MEDI            0.664978
OWN_CAR_AGE                 0.659908
LANDAREA_MEDI               0.593767
LANDAREA_AVG                0.593767
LANDAREA_MODE               0.593767
dtype: float64

In [9]:
missing_pct.tail(50)

FLAG_OWN_CAR                   0.0
SK_ID_CURR                     0.0
AMT_CREDIT                     0.0
AMT_INCOME_TOTAL               0.0
CNT_CHILDREN                   0.0
NAME_INCOME_TYPE               0.0
NAME_FAMILY_STATUS             0.0
NAME_HOUSING_TYPE              0.0
REGION_POPULATION_RELATIVE     0.0
NAME_EDUCATION_TYPE            0.0
DAYS_BIRTH                     0.0
DAYS_EMPLOYED                  0.0
DAYS_REGISTRATION              0.0
DAYS_ID_PUBLISH                0.0
FLAG_MOBIL                     0.0
FLAG_EMP_PHONE                 0.0
FLAG_WORK_PHONE                0.0
FLAG_CONT_MOBILE               0.0
CODE_GENDER                    0.0
TARGET                         0.0
FLAG_OWN_REALTY                0.0
FLAG_EMAIL                     0.0
REGION_RATING_CLIENT           0.0
REGION_RATING_CLIENT_W_CITY    0.0
WEEKDAY_APPR_PROCESS_START     0.0
FLAG_PHONE                     0.0
REG_CITY_NOT_LIVE_CITY         0.0
REG_CITY_NOT_WORK_CITY         0.0
LIVE_CITY_NOT_WORK_CITY        0.0
REG_REGION_NOT_WORK_REGION     0.0
FLAG_DOCUMENT_4                0.0
FLAG_DOCUMENT_5                0.0
FLAG_DOCUMENT_2                0.0
FLAG_DOCUMENT_3                0.0
FLAG_DOCUMENT_11               0.0
FLAG_DOCUMENT_10               0.0
FLAG_DOCUMENT_9                0.0
FLAG_DOCUMENT_8                0.0
FLAG_DOCUMENT_7                0.0
FLAG_DOCUMENT_6                0.0
FLAG_DOCUMENT_12               0.0
FLAG_DOCUMENT_13               0.0
FLAG_DOCUMENT_19               0.0
FLAG_DOCUMENT_18               0.0
FLAG_DOCUMENT_17               0.0
FLAG_DOCUMENT_16               0.0
FLAG_DOCUMENT_15               0.0
FLAG_DOCUMENT_14               0.0
FLAG_DOCUMENT_20               0.0
FLAG_DOCUMENT_21               0.0
dtype: float64

In [10]:
flag_document_cols = [col for col in train.columns if col.startswith('FLAG_DOCUMENT_')]

df_clean = train.drop(columns=flag_document_cols)

In [11]:
flag_document_cols

['FLAG_DOCUMENT_2',
 'FLAG_DOCUMENT_3',
 'FLAG_DOCUMENT_4',
 'FLAG_DOCUMENT_5',
 'FLAG_DOCUMENT_6',
 'FLAG_DOCUMENT_7',
 'FLAG_DOCUMENT_8',
 'FLAG_DOCUMENT_9',
 'FLAG_DOCUMENT_10',
 'FLAG_DOCUMENT_11',
 'FLAG_DOCUMENT_12',
 'FLAG_DOCUMENT_13',
 'FLAG_DOCUMENT_14',
 'FLAG_DOCUMENT_15',
 'FLAG_DOCUMENT_16',
 'FLAG_DOCUMENT_17',
 'FLAG_DOCUMENT_18',
 'FLAG_DOCUMENT_19',
 'FLAG_DOCUMENT_20',
 'FLAG_DOCUMENT_21']

In [12]:
df_clean.isna().mean().sort_values(ascending=True).head(50)

SK_ID_CURR                     0.000000
TARGET                         0.000000
NAME_CONTRACT_TYPE             0.000000
CODE_GENDER                    0.000000
FLAG_OWN_CAR                   0.000000
FLAG_OWN_REALTY                0.000000
CNT_CHILDREN                   0.000000
AMT_INCOME_TOTAL               0.000000
AMT_CREDIT                     0.000000
NAME_FAMILY_STATUS             0.000000
NAME_EDUCATION_TYPE            0.000000
NAME_INCOME_TYPE               0.000000
NAME_HOUSING_TYPE              0.000000
DAYS_EMPLOYED                  0.000000
DAYS_BIRTH                     0.000000
REGION_POPULATION_RELATIVE     0.000000
REGION_RATING_CLIENT_W_CITY    0.000000
FLAG_CONT_MOBILE               0.000000
FLAG_PHONE                     0.000000
DAYS_REGISTRATION              0.000000
DAYS_ID_PUBLISH                0.000000
FLAG_MOBIL                     0.000000
FLAG_EMP_PHONE                 0.000000
FLAG_WORK_PHONE                0.000000
REGION_RATING_CLIENT           0.000000
FLAG_EMAIL                     0.000000
REG_CITY_NOT_LIVE_CITY         0.000000
LIVE_REGION_NOT_WORK_REGION    0.000000
REG_REGION_NOT_WORK_REGION     0.000000
REG_REGION_NOT_LIVE_REGION     0.000000
HOUR_APPR_PROCESS_START        0.000000
WEEKDAY_APPR_PROCESS_START     0.000000
ORGANIZATION_TYPE              0.000000
LIVE_CITY_NOT_WORK_CITY        0.000000
REG_CITY_NOT_WORK_CITY         0.000000
DAYS_LAST_PHONE_CHANGE         0.000003
CNT_FAM_MEMBERS                0.000007
AMT_ANNUITY                    0.000039
AMT_GOODS_PRICE                0.000904
EXT_SOURCE_2                   0.002146
OBS_30_CNT_SOCIAL_CIRCLE       0.003320
OBS_60_CNT_SOCIAL_CIRCLE       0.003320
DEF_30_CNT_SOCIAL_CIRCLE       0.003320
DEF_60_CNT_SOCIAL_CIRCLE       0.003320
NAME_TYPE_SUITE                0.004201
AMT_REQ_CREDIT_BUREAU_HOUR     0.135016
AMT_REQ_CREDIT_BUREAU_WEEK     0.135016
AMT_REQ_CREDIT_BUREAU_DAY      0.135016
AMT_REQ_CREDIT_BUREAU_QRT      0.135016
AMT_REQ_CREDIT_BUREAU_YEAR     0.135016
dtype: float64

In [13]:
baseline_cols = [
    'AMT_INCOME_TOTAL','AMT_CREDIT','AMT_ANNUITY','AMT_GOODS_PRICE',
    'DAYS_BIRTH','DAYS_EMPLOYED','CNT_CHILDREN','CNT_FAM_MEMBERS',
    'NAME_EDUCATION_TYPE','NAME_INCOME_TYPE','NAME_FAMILY_STATUS',
    'NAME_HOUSING_TYPE','FLAG_OWN_CAR','FLAG_OWN_REALTY',
    'REGION_POPULATION_RELATIVE','REGION_RATING_CLIENT',
    'REGION_RATING_CLIENT_W_CITY','EXT_SOURCE_2'
]

X = df_clean[baseline_cols]
y = df_clean['TARGET']

In [14]:
X.head()

,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,DAYS_BIRTH,DAYS_EMPLOYED,CNT_CHILDREN,CNT_FAM_MEMBERS,NAME_EDUCATION_TYPE,NAME_INCOME_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,FLAG_OWN_CAR,FLAG_OWN_REALTY,REGION_POPULATION_RELATIVE,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,EXT_SOURCE_2
0,202500.0,406597.5,24700.5,351000.0,-9461,-637,0,1.0,Secondary / secondary special,Working,Single / not married,House / apartment,N,Y,0.018801,2,2,0.262949
1,270000.0,1293502.5,35698.5,1129500.0,-16765,-1188,0,2.0,Higher education,State servant,Married,House / apartment,N,N,0.003541,1,1,0.622246
2,67500.0,135000.0,6750.0,135000.0,-19046,-225,0,1.0,Secondary / secondary special,Working,Single / not married,House / apartment,Y,Y,0.010032,2,2,0.555912
3,135000.0,312682.5,29686.5,297000.0,-19005,-3039,0,2.0,Secondary / secondary special,Working,Civil marriage,House / apartment,N,Y,0.008019,2,2,0.650442
4,121500.0,513000.0,21865.5,513000.0,-19932,-3038,0,1.0,Secondary / secondary special,Working,Single / not married,House / apartment,N,Y,0.028663,2,2,0.322738

In [15]:
pd.qcut(X['AMT_INCOME_TOTAL'], 5).to_frame('income_band') \
    .join(y).groupby('income_band')['TARGET'].mean()

/tmp/ipykernel_17/3741954482.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  .join(y).groupby('income_band')['TARGET'].mean()

income_band
(25649.999, 99000.0]       0.082062
(99000.0, 135000.0]        0.085883
(135000.0, 162000.0]       0.086847
(162000.0, 225000.0]       0.080569
(225000.0, 117000000.0]    0.065198
Name: TARGET, dtype: float64

In [16]:
print("Default rates vary only modestly across income bands, with the highest income group showing lower risk. This indicates that income alone is not a strong discriminator of default risk and should be evaluated alongside repayment burden and other stability indicators.")

Default rates vary only modestly across income bands, with the highest income group showing lower risk. This indicates that income alone is not a strong discriminator of default risk and should be evaluated alongside repayment burden and other stability indicators.

In [17]:
import pandas as pd

def band_summary_xy(X, y, feature, q=4):
    """
    Quantile-band a numeric feature and return:
    band, n, defaults, default_rate
    """
    tmp = pd.DataFrame({
        feature: X[feature],
        "TARGET": y
    }).dropna(subset=[feature, "TARGET"])  # safe

    bands = pd.qcut(tmp[feature], q=q, duplicates="drop")

    summary = (
        tmp.assign(band=bands)
           .groupby("band", observed=True)["TARGET"]
           .agg(n="count", defaults="sum", default_rate="mean")
           .reset_index()
    )
    return summary

# ---- run for your 4 key features ----
features = ["AMT_INCOME_TOTAL", "AMT_ANNUITY", "DAYS_EMPLOYED", "EXT_SOURCE_2"]

for f in features:
    print(f"\n=== {f} (4 bands) ===")
    display(band_summary_xy(X, y, f, q=4))

=== AMT_INCOME_TOTAL (4 bands) ===

                      band       n  defaults  default_rate
0    (25649.999, 112500.0]  100578      8443      0.083945
1     (112500.0, 147150.0]   53182      4537      0.085311
2     (147150.0, 202500.0]   82213      6902      0.083953
3  (202500.0, 117000000.0]   71538      4943      0.069096

=== AMT_ANNUITY (4 bands) ===

                  band      n  defaults  default_rate
0  (1615.499, 16524.0]  76893      5430      0.070618
1   (16524.0, 24903.0]  76880      6730      0.087539
2   (24903.0, 34596.0]  76962      7105      0.092318
3  (34596.0, 258025.5]  76764      5560      0.072430

=== DAYS_EMPLOYED (4 bands) ===

                    band      n  defaults  default_rate
0  (-17912.001, -2760.0]  76905      4408      0.057317
1     (-2760.0, -1213.0]  76917      6628      0.086171
2      (-1213.0, -289.0]  76873      8440      0.109791
3     (-289.0, 365243.0]  76816      5349      0.069634

=== EXT_SOURCE_2 (4 bands) ===

                     band      n  defaults  default_rate
0  (-0.0009999183, 0.392]  76716     10966      0.142943
1          (0.392, 0.566]  76710      6271      0.081749
2          (0.566, 0.664]  76713      4618      0.060198
3          (0.664, 0.855]  76712      2918      0.038038

In [18]:
X.shape

(307511, 18)